

.card_box{
  background: #007bff;
  background: linear-gradient(to right, #0062E6,#33AEFF);
  
}
.card_box .card{
border:none;

transition:all 0.2s;
border-radius: 1rem;
box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
}

.card_box hr{
  margin:1.5rem 0;
}
.card_box .card-title{
  margin:0.5rem 0;
  font-size:0.9rem;
  letter-spacing: .1rem;
  font-weight:bold;
}
.card_box .card-price{
font-size:3rem;
margin:0;
}
.card_box .card-price .period{
  font-size:0.8rem;
}

.card_box ul li{
  margin-bottom: 1rem;
}
.card_box .text-muted{
  opacity: 0.7;
}
.card_box .btn{
  font-size:80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight:bold;
  padding:1rem;
  opacity: 0.7;
  transition:all 0.2s;
}

@media(min-width:992px){
  .card_box .card:hover{
    margin-top: -0.25rem;
    margin-bottom:0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.3);

  }
  .card_box .card:hover .btn{
    opacity:1;
  }
}